#block{
  background: #FFFAF8;
  border-style: solid;
  border-color: #C1C3CC;
  border-width: 1px;
  padding: 10px 0px 20px 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
html{
  width: 100%;
  padding: 0;
  margin: 0;
}
body{
  width: 100%;
  padding: 0;
  margin: 0;
}
footer{
  padding-top: 450px;
  width: 100%;
}
.container{
  width: 100%;
  padding: 0;
  margin: 0;
}
.programs-page{
  padding: 100px 4px 40px 4px;
  width: 100%;
}
.program-page{
  padding: 100px 4px 0 4px;
  width: 100%;
}
.main-image{
  padding: 700px 0 0 0;
  background-image: url("main-image-6.jpg");
  width: 100%;
  margin: 0;
}
.main{
  padding: 100px 4px 0 4px;
  width: 100%;
}
#main{
  width: 100%;
  padding: 0;
  margin: 0;
}
#logo{
  padding: 8px 0 4px 18px;
}
#brand{
  color: white;
  font-size: 14px;
  padding: 0 0 0 16px;
}
#navbar{
  padding: 14px 0 0 0;
}
a{
  color: black;
}
