#block{
  background: #FFFAF8;
  border-style: solid;
  border-color: #C1C3CC;
  border-width: 1px;
  padding: 10px 0px 20px 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 
}
body{
  width: 100%;
}
.container{
  width: 100%;
}
.main-image{
  padding-top: 200px;
  background-image: url("https://drive.google.com/file/d/0Bz3F8ctmiDRJV0FhVWtGNHk3cnNhRnE4cXd4Z0xjek5tbDg0/view?usp=sharing");
  width: 100%;
}
 
a{
  color: black;
}