<template name="contact">
  <div class="program-page page">
    <div class="row">
      <div class="col-md-6">
        <h2>Contact</h2>
      </div>
      <div class="col-md-6">

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>While Freire is a small school, we seek to offer a variety of clubs and activities to enrich the educational experience of each student. For more information about clubs and activities, contact Katie Flowers at katie.flowers@freirecharterschool.org.</h3>
      </div>
      <div class="col-md-6">

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Freire thanks the Pennsylvania Department of Education and the 21st Century Community Learning Centers Program for funding our exciting, enriching, and diverse after-school programming.</h3>
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
</template>
