<template name="management">
	<div>
		<h1>management</h1>
	</div>
	<div>
		
	</div>
	

    <div class ="container" id="management-ui-list">
    	<div class="row">
    		
    		<div class="col-sm-3 col-md-2 sidebar">
    			<h2>Managment</h2>
	          <ul class="nav nav-sidebar">
	            <li class="active"><a href="#">Overview </a></li>
	            <li><a href="#">Post new listing</a></li>
	            <li><a href="#">Edit listing</a></li>
	            <li><a href="#">create new password</a></li>
	            <li><a href="#">users</a></li>
	            <li><a href="#">settings</a></li>
	          </ul>
		

			</div>
			<div class="col-sm-9 col-md-10 content" >
			kyle
			</div>
		</div>
	</div>
	

</template>